.subscribe-button {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  padding: 10px 10px 10px 10px;
  vertical-align: top;
}
.subscribe-button:hover {
  opacity: 0.8
}
.subscribe-button:active {
  opacity: 0.5
}

.join-button {
  background-color: white;
  border-color: rgb(41, 118, 211);
  border-style: solid;
  border-width: 1px;
  color: rgb(41, 118, 211);
  border-radius: 2px;
  margin-right: 8px;
  padding: 9px 16px;
  transition: opacity 0.15s, background-color 0.15s, color 0.15s;
}
.join-button:hover {
  background-color: rgb(41, 118, 211);
  color: white;
}
.join-button:active {
  opacity: 0.7;
}

.tweet-button {
  background-color: rgb(2, 158, 255);
  color: white;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  margin-right: 8px;
  padding: 10px 16px;
  transition: box-shadow 0.15s;
}
.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.requestNow-button {
  background-color: black;
  color: white;
  height: 36px;
  border: none;
  width: 110px;
  margin-right: 8px;
}

.addToCard-button {
  background-color: rgb(255, 216, 20);
  color: black;
  border: none;
  height: 36px;
  width: 180px;
  border-radius: 18px;
}

a {
  color: rgb(0, 113, 133);
  font-size: 20px;
}

.nike-shoes {
  font-size: 40px;
  font-weight: bold;
  color: rgb(0, 0, 0);

}

.p-price {
  font-size: 20px;
  color: rgb(0, 118, 0);
  font-weight: bold;
}